*{
    margin:0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 3rem;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.navheading span{
    color: #fc9595;
}
.navitems a{
    font-size:1.2rem;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1rem;
    width: 2rem;
}.ancor{
    color:#fc9595;
}
.navitems a:hover{
    color: #fc9595;
}
.content{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.nameheading{
    font-size: 4rem;
    font-weight: 500;
}
.dev{
    font-size:2rem;
    font-weight: 200;
}
.pic{
    width: 50vw;
    height: 50vh;
    background-image: url("pic1.jpeg");
    background-size: cover;
    border-radius:50vh;
    animation: picture 2s  1 reverse ;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn button{
    width:10rem;
    height: 4rem;
    background-color: #fc9595;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 3rem;
transition: all ease-out 1s;
}
.btn button:hover{
    background-color: #fc9595bb;
    width: 11rem;
    height: 4.5rem;
}
i{
    font-size: 3rem;
padding-left: 4rem;
padding-top: 7rem;
color: #fc9595;
transition: all ease-out 1s;
}.text{
    padding-top: 10rem;
}
i:hover{
    font-size: 4rem;
    
}
@keyframes picture {
    from{
        width: 50vw;
        height:50vh ;
        border-radius: 50vh;
    }
    to{
width: 100px;
height: 100px;
border-radius: 50%;
    }
}